{% extends "base.html" %}
{% block title %}
    Tiny Dashboard - A Bootstrap Dashboard Template
{% endblock title %}
{% block content %}
    <main role="main" class="main-content">
        <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
            <h2 class="page-title">Buttons</h2>
            <p class="lead text-muted">This primitive is meant to make it easy to display both user-centric or activity-centric actions in your app. Sometimes it makes sense to even blend both in a single timeline, which works perfectly.</p>
            <div class="row">
                <div class="col-md-6 mb-4">
                <div class="card shadow">
                    <div class="card-header">
                    <strong class="card-title">Buttons</strong>
                    </div>
                    <div class="card-body">
                    <p class="text-muted">Bootstrap includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.</p>
                    <div class="mb-2">
                        <button type="button" class="btn mb-2 btn-primary">Primary</button>
                        <button type="button" class="btn mb-2 btn-secondary">Secondary</button>
                        <button type="button" class="btn mb-2 btn-success">Success</button>
                        <button type="button" class="btn mb-2 btn-danger">Danger</button>
                        <button type="button" class="btn mb-2 btn-warning">Warning</button>
                        <button type="button" class="btn mb-2 btn-info">Info</button>
                        <button type="button" class="btn mb-2 btn-light">Light</button>
                        <button type="button" class="btn mb-2 btn-dark">Dark</button>
                        <button type="button" class="btn mb-2 btn-link">Link</button>
                    </div>
                    </div> <!-- /. card-body -->
                </div> <!-- /. card-body -->
                </div> <!-- /. col -->
                <div class="col-md-6 mb-4">
                <div class="card shadow">
                    <div class="card-header">
                    <strong class="card-title">Outline buttons</strong>
                    </div>
                    <div class="card-body">
                    <p class="text-muted">Bootstrap includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.</p>
                    <div class="mb-2">
                        <button type="button" class="btn mb-2 btn-outline-primary">Primary</button>
                        <button type="button" class="btn mb-2 btn-outline-secondary">Secondary</button>
                        <button type="button" class="btn mb-2 btn-outline-success">Success</button>
                        <button type="button" class="btn mb-2 btn-outline-danger">Danger</button>
                        <button type="button" class="btn mb-2 btn-outline-warning">Warning</button>
                        <button type="button" class="btn mb-2 btn-outline-info">Info</button>
                        <button type="button" class="btn mb-2 btn-outline-light">Light</button>
                        <button type="button" class="btn mb-2 btn-outline-dark">Dark</button>
                        <button type="button" class="btn mb-2 btn-outline-link">Link</button>
                    </div>
                    </div> <!-- /. card-body -->
                </div> <!-- /. card-body -->
                </div> <!-- /. col -->
                <div class="col-md-6 mb-4">
                <div class="card shadow">
                    <div class="card-header">
                    <strong class="card-title">Buttons sizes</strong>
                    </div>
                    <div class="card-body">
                    <p class="text-muted">Bootstrap includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.</p>
                    <button type="button" class="btn mb-2 btn-secondary btn-lg">Large button</button>
                    <button type="button" class="btn mb-2 btn-secondary ">Default Button</button>
                    <button type="button" class="btn mb-2 btn-secondary btn-sm">Small Button</button>
                    </div> <!-- /. card-body -->
                </div> <!-- /. card-body -->
                </div> <!-- /. col -->
                <div class="col-md-6 mb-4">
                <div class="card shadow">
                    <div class="card-header">
                    <strong class="card-title">Buttons State</strong>
                    </div>
                    <div class="card-body">
                    <p class="text-muted">Bootstrap includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.</p>
                    <div class="mb-2">
                        <button type="button" class="btn mb-2 btn-outline-primary active">Active</button>
                        <button type="button" class="btn mb-2 btn-outline-primary" disabled>Disabled</button>
                    </div>
                    </div> <!-- /. card-body -->
                </div> <!-- /. card-body -->
                </div> <!-- /. col -->
                <div class="col-md-6 mb-4">
                <div class="card shadow">
                    <div class="card-header">
                    <strong class="card-title">Button group</strong>
                    </div>
                    <div class="card-body">
                    <p class="text-muted">Bootstrap includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.</p>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn mb-2 btn-secondary">Left</button>
                        <button type="button" class="btn mb-2 btn-secondary">Middle</button>
                        <button type="button" class="btn mb-2 btn-secondary">Right</button>
                    </div>
                    </div> <!-- /. card-body -->
                </div> <!-- /. card-body -->
                </div> <!-- /. col -->
                <div class="col-md-6 mb-4">
                <div class="card shadow">
                    <div class="card-header">
                    <strong class="card-title">Button toolbar</strong>
                    </div>
                    <div class="card-body">
                    <p class="text-muted">Bootstrap includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.</p>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" class="btn mb-2 btn-secondary">1</button>
                        <button type="button" class="btn mb-2 btn-secondary">2</button>
                        <button type="button" class="btn mb-2 btn-secondary">3</button>
                        <button type="button" class="btn mb-2 btn-secondary">4</button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button type="button" class="btn mb-2 btn-secondary">5</button>
                        <button type="button" class="btn mb-2 btn-secondary">6</button>
                        <button type="button" class="btn mb-2 btn-secondary">7</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                        <button type="button" class="btn mb-2 btn-secondary">8</button>
                        </div>
                    </div>
                    </div> <!-- /. card-body -->
                </div> <!-- /. card-body -->
                </div> <!-- /. col -->
                <div class="col-md-6 mb-4">
                <div class="card shadow">
                    <div class="card-header">
                    <strong class="card-title">Icon buttons</strong>
                    </div>
                    <div class="card-body">
                    <p class="text-muted">Bootstrap includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.</p>
                    <div class="mb-2">
                        <button type="button" class="btn mb-2 btn-primary"><span class="fe fe-arrow-right fe-16 mr-2"></span>Primary</button>
                        <button type="button" class="btn mb-2 btn-success">Success<span class="fe fe-chevron-right fe-16 ml-2"></span></button>
                        <button type="button" class="btn mb-2 btn-secondary"><span class="fe fe-download fe-16"><span></button>
                    </div>
                    <div class="mb-2">
                        <button type="button" class="btn mb-2 btn-outline-primary"><span class="fe fe-arrow-right fe-16 mr-2"></span>Primary</button>
                        <button type="button" class="btn mb-2 btn-outline-secondary"><span class="fe fe-arrow-down fe-16 mr-2"></span>Secondary</button>
                        <button type="button" class="btn mb-2 btn-outline-success"><span class="fe fe-upload-cloud fe-16"></span></button>
                    </div>
                    </div> <!-- /. card-body -->
                </div> <!-- /. card-body -->
                </div> <!-- /. col -->
                <div class="col-md-6 mb-4">
                <div class="card shadow">
                    <div class="card-header">
                    <strong class="card-title">Block level buttons</strong>
                    </div>
                    <div class="card-body">
                    <p class="text-muted">Bootstrap includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.</p>
                    <button type="button" class="btn mb-2 btn-primary btn-lg btn-block">Block level button</button>
                    <button type="button" class="btn mb-2 btn-secondary btn-lg btn-block">Block level button</button>
                    </div> <!-- /. card-body -->
                </div> <!-- /. card-body -->
                </div> <!-- /. col -->
            </div> <!-- end section -->
            </div> <!-- .col-12 -->
        </div> <!-- .row -->
        </div> <!-- .container-fluid -->
        <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="list-group list-group-flush my-n3">
                <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="fe fe-box fe-24"></span>
                    </div>
                    <div class="col">
                        <small><strong>Package has uploaded successfull</strong></small>
                        <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                        <small class="badge badge-pill badge-light text-muted">1m ago</small>
                    </div>
                    </div>
                </div>
                <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="fe fe-download fe-24"></span>
                    </div>
                    <div class="col">
                        <small><strong>Widgets are updated successfull</strong></small>
                        <div class="my-0 text-muted small">Just create new layout Index, form, table</div>
                        <small class="badge badge-pill badge-light text-muted">2m ago</small>
                    </div>
                    </div>
                </div>
                <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="fe fe-inbox fe-24"></span>
                    </div>
                    <div class="col">
                        <small><strong>Notifications have been sent</strong></small>
                        <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo</div>
                        <small class="badge badge-pill badge-light text-muted">30m ago</small>
                    </div>
                    </div> <!-- / .row -->
                </div>
                <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="fe fe-link fe-24"></span>
                    </div>
                    <div class="col">
                        <small><strong>Link was attached to menu</strong></small>
                        <div class="my-0 text-muted small">New layout has been attached to the menu</div>
                        <small class="badge badge-pill badge-light text-muted">1h ago</small>
                    </div>
                    </div>
                </div> <!-- / .row -->
                </div> <!-- / .list-group -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear All</button>
            </div>
            </div>
        </div>
        </div>
        <div class="modal fade modal-shortcut modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">Shortcuts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body px-5">
                <div class="row align-items-center">
                <div class="col-6 text-center">
                    <div class="squircle bg-success justify-content-center">
                    <i class="fe fe-cpu fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Control area</p>
                </div>
                <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                    <i class="fe fe-activity fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Activity</p>
                </div>
                </div>
                <div class="row align-items-center">
                <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                    <i class="fe fe-droplet fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Droplet</p>
                </div>
                <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                    <i class="fe fe-upload-cloud fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Upload</p>
                </div>
                </div>
                <div class="row align-items-center">
                <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                    <i class="fe fe-users fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Users</p>
                </div>
                <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                    <i class="fe fe-settings fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Settings</p>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </main>
{% endblock content %}